<!DOCTYPE html>  
<html>  
    <head>  
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="__ROOT__/static/css/bootstrap.min.css">  
        <link rel="stylesheet" href="__ROOT__/static/css/nav.css"> 
        <script src="__ROOT__/static/js/jquery.min.js"></script>
        <script src="__ROOT__/static/js/bootstrap.min.js"></script> 
        <title>教师选择学生</title>
    </head>
    <body>
        <table class="table panel-info" >
            <thead>
                <tr class="success">
                    <th>编号</th>
                    <th>专业</th>
                    <th>学生姓名</th>
                    <th>学号</th>
                    <th>联系方式</th>
                    <th>邮箱</th>
                    <th>qq</th>
                    <th>删除</th>
                </tr>
            </thead>
            <tbody>
            <volist name="list" id="vo" >
                <tr>
                    <td>{$i}</td>
                    <td>{$vo.dep_name}</td>
                    <td>{$vo.name}</td>
                    <td>{$vo.stu_number}</td>
                    <td>{$vo.phone}</td>
                    <td>{$vo.email}</td>
                    <td>{$vo.qq}</td>
                    <td><a href="__CONTROLLER__/D/stu/{$vo.stu_number}/top/{$top}" class="btn btn-ms btn-danger" style="color: #fff;font-size: 900" onclick="return confirm('确定删除该学生吗？')">删除</a></td>
                </tr>
            </volist>

        </tbody>
    </table>
</body>
</html>
