<!DOCTYPE html>  
<html>  
<head>  
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="__ROOT__/static/css/bootstrap.min.css">  
    <link rel="stylesheet" href="__ROOT__/static/css/nav.css"> 
    <script src="__ROOT__/static/js/jquery.min.js"></script>
    <script src="__ROOT__/static/js/bootstrap.min.js"></script> 
    <title>教师选择学生</title>
</head>
<body>
<!--<br>
<form action="">
<div class="maofu" >-->
	<table class="table panel-info" >
		<thead>
			<tr class="success">
				<th>编号</th>
				<th>课题名称</th>
				<th>课题类型</th>
				<th>待选学生</th>
                                <th>已选学生</th>
				<th>选题状态</th>
				<th>是否发布</th>
				<th>是否通过审核</th>
			</tr>
		</thead>
		<tbody>
                <volist name="list" id="vo" >
			<tr>
				<td>{$i}</td>
				<td class="twidth">
					<div class="ttext" >
	    					{$vo.name}
					</div>
				</td>
				<td>{$vo.genre}</td>
                                <eq name="vo.opt" value="0">
                                    <td style="color: #9E9E9E">已确认<br>不能选择学生</td>
                                <else/>
                                    <td><a href=""><a href="__ROOT__/Teacher/Choose/Choose/top/{$vo.top_id}" >进入选择</a><br>(<span class="red">{$vo.number}人</span>)</a><br></td>
                                </eq>
				
                                <td> <a href="__ROOT__/Teacher/Choose/Look/top/{$vo.top_id}">查看</a><br><span class="red">{$vo.yixuan}</span> 个</td>
                                <eq name="vo.opt" value="0">
                                    <td  style="color: #009688">
                                        <a href="__ROOT__/Teacher/Choose/Verify1/top/{$vo.top_id}" class="btn btn-xs btn-info " id="white">开启</a>
                                    </td>
                                <else/>
                                    <td class="red">
                                        <a href="__ROOT__/Teacher/Choose/Verify/top/{$vo.top_id}" class="btn btn-xs btn-info " onclick="return  confirm('确认该课题后，就不能再选择学生，确定要进行此操作吗？')" id="white">停止选择</a>
                                    </td>
                                </eq>
                                <eq name="vo.rele" value="0"><td class="red">未发布</td><else/><td style="color: #009688">已发布</td></eq>
                                <eq name="vo.audit" value="0"><td class="red">未审核</td><else/><td style="color: #009688">通过</td></eq>
			</tr>
                 </volist>
			
		</tbody>
	</table><!--
<!--</div>
</form>-->
</body>
</html>
