<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>系主任-查看评阅老师信息</title>
	<link rel="stylesheet" href="../">
        <link rel="stylesheet" href="__ROOT__/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="__ROOT__/static/css/nav.css"> 
        <script type="text/javascript" src="__ROOT__/static/js/jquery.min.js"> </script>
        <script type="text/javascript" src="__ROOT__/static/js/bootstrap.min.js"> </script>
</head>
<body>

	<table class="table panel-info bshadow" >
		<thead>
			<tr class="success">
				<th>序号</th>
				<th>教师工号</th>
				<th>教师姓名</th>
				<th>所带课题人数</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
                <volist name="list" id="vo">
			<tr>
				<td>{$i}</td>
				<td>{$vo.tea_number}</td>
				<td>{$vo.tea_name}</td>
				<td>{$vo.yixaun}</td>
                                <td><a href="__ROOT__/Director/Teacher/Topic/tea/{$vo.tea_number}">进入查看</a></td>
			</tr>
                 </volist>
		</tbody>
	</table>
</body>
</html>