<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>系主任-查看评阅老师信息</title>
        <link rel="stylesheet" href="../">
        <link rel="stylesheet" href="__ROOT__/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="__ROOT__/static/css/nav.css"> 
        <script type="text/javascript" src="__ROOT__/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="__ROOT__/static/js/bootstrap.min.js"></script>
        <script >
            function xuan() {
                //获取name值
                var qcheck = document.getElementsByName("checkbox[]");
                for (var i = 0; i <= qcheck.length; i++) {
                    qcheck[i].checked = true;
                }
            }
        </script>
    </head>
    <body>

        <!--<div class="maofu" >-->
        <table class="table panel-info bshadow" >
            <thead>
                <!--			<tr>
                                                <th colspan="9">
                                                        <div class="smiddle">
                                                                教师工号：
                                                                <input type="text">
                                                                <i class="i"></i>
                                                                教师姓名：<input type="text">
                                                        </div>
                                                </th>
                                        </tr>-->
                <tr class="success">
                    <th>编号</th>
                    <th>课题名称</th>
                    <th>课题类型</th>
                    <th>教师</th>
                    <th>已选人数</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            <volist name="list" id="vo">
                <tr>
                    <td>{$i}</td>
                    <td>{$vo.name}</td>
                    <td>
                        <switch name="vo.top_type">
                            <case value="1"><b class="langse">盲选</b></case>
                            <case value="2"><b class="red">指定选</b></case>
                            <case value="3"><b class="red">团队课题</b></case>
                            <case value="4"><b class="red">外出毕设</b></case>
                        </switch>
                </td>
                <td>{$vo.tea_name}</td>
                <td>{$vo.yixuan}</td>
                <td><a  href="__ROOT__/Director/Teacher/Look/top/{$vo.top_id}">查看</td>
                </tr>
            </volist>
        </tbody>
    </table>
    <!--</div>-->
</body>
</html>