<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>教学院长-课题发布</title>
	<link rel="stylesheet" href="../">
        <link rel="stylesheet" href="__ROOT__/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="__ROOT__/static/css/nav.css"> 
        <script type="text/javascript" src="__ROOT__/static/js/jquery.min.js"> </script>
</head>
<body>
<!--<div class="maofu" >-->
	<table class="table panel-info bshadow" >
		<thead>
                    <tr><th colspan="10">以下是学生的论文及个人信息</th></tr>
			<tr class="success">
				<th>序号</th>
				<th>姓名</th>	
				<th>学号</th>
				<th>专业</th>
				<th>班级</th>				
				<th>总成绩</th>
				<th>总评</th>
				<th>论文</th>
			</tr>
		</thead>
		<tbody>
                <volist name="list" id="vo">
		    <tr>
			<td>{$i}</td>
			<td>{$vo.stu_number}</td>
			<td>{$vo.stu_name}</td>
			<td>{$vo.z_name}</td>
			<td>{$vo.b_name}</td>
			<td>{$vo.score}</td>
			<td>{$vo.genera}</td>
                        <td><a target="_blank" href="__ROOT__/Dean/Grade/Down/stu/{$vo.stu_number}">下载</a></td>
		    </tr>
                </volist>
                
		</tbody>
	</table>

<!--</div>-->
</body>
</html>