<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>教学院长-打印学生成绩</title>
	<link rel="stylesheet" href="../">
        <link rel="stylesheet" href="__ROOT__/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="__ROOT__/static/css/nav.css"> 
        <script type="text/javascript" src="__ROOT__/static/js/jquery.min.js"> </script>
</head>
<body>
<!--<div class="maofu" >-->
	<table class="table panel-info bshadow" >
		<thead>
			<tr class="success">
				<th>专业名称</th>	
				<th>总人数</th>	
				<th>有效总人数</th>		
				<th>优秀</th>
				<th>良好</th>
				<th>中等</th>
				<th>及格</th>
                                <th>不及格</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
                <volist name="list" id="vo">
			<tr>
				<td>{$vo.z_name}</td>
				<td>{$vo.zong}</td>
				<td>{$vo.renshu}</td>
				<td>{$vo.you}</td>
				<td>{$vo.lang}</td>
				<td>{$vo.zhong}</td>	
				<td>{$vo.jige}</td>
				<td>{$vo.bujige}</td>
				<td><a href="__ROOT__/Dean/Grade/SpeExcel/dep/{$vo.z_id}/name/{$vo.z_name|base64_encode}">导出</a> | <a href="__ROOT__/Dean/Grade/ClassGrade/dep/{$vo.z_id}/name/{$vo.z_name|base64_encode}">进入</a></td>
			</tr>
                </volist>
                
		</tbody>
	</table>

<!--</div>-->
</body>
</html>