<!DOCTYPE html>  
<html>  
    <head>  
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="__ROOT__/static/css/bootstrap.min.css">  
        <link rel="stylesheet" href="__ROOT__/static/css/nav.css"> 
        <script src="__ROOT__/static/js/jquery.min.js"></script>
        <script src="__ROOT__/static/js/bootstrap.min.js"></script> 
        <title>答辩秘书或答辩录入员录入答辩成绩</title>
    </head>
    <body>
        <table class="table panel-info bshadow" >
            <thead>
                <tr>
                    <td style="text-align: center" colspan="12"><a href="__CONTROLLER__/ImScore/id/{$id}">查看已答辩的学生</a></td>
                </tr>
                <tr class="success">
                    <th>编号</th>
                    <th>学生</th>
                    <th>课题名称</th>
                    <th>平时评分</th>
                    <th>指导评分</th>
                    <th>评阅评分</th>
                    <th>答辩评分</th>
                    <th>总成绩</th>
                    <th>总评</th>
                    <th>状态</th>
                    <th>信息操作</th>
                    <th>课题状态</th>
                </tr>
            </thead>
            <tbody>
            <volist name="list" id="vo">
                <tr>
                    <td>{$i}</td>
                    <td>{$vo.stu_name}<br>({$vo.stu_number})</td>
                    <td class="twidth">
                        <div class="ttext" title="{$vo.top_name}">
                            {$vo.top_name}
                        </div>
                    </td>
                    <td>{$vo.grade}</td>
                    <td>{$vo.zdgrade}</td>
                    <td>{$vo.pingyuegrade}</td>
                    <td>{$vo.dabiangrade}</td>
                    <td>{$vo.score}</td>
                    <td>{$vo.genera}</td>
                    <td>
                <empty name="vo.rele" >未发布<else/>已发布</empty>
                </td>
                <td><a href="__ROOT__/Teacher/Score/Pingfen/stu/{$vo.stu_number}/id/{$id}">论文答辩</a></td>
                <td><empty name="vo.dabian" >未录入成绩<else/>已经录入成绩</empty>
                <br><empty name="vo.rele" >等待发布成绩<else/>已发布</empty></td>
                </tr>
            </volist>
        </tbody>

        <tfoot>
            <tr class="active">
                <td colspan="12">
                    <div class="left">
                        <i class="i"></i>
                        <input type="button" value="返回" class="btn btn-success" onclick="window.history.go(-1)">
                    </div> 
                    {$page}
                </td>
            </tr>
        </tfoot>
    </table>
</div>
</html>