<!DOCTYPE html>  
<html>  
<head>  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="__ROOT__/static/css/bootstrap.min.css">  
<link rel="stylesheet" href="__ROOT__/static/css/nav.css"> 
<script src="__ROOT__/static/js/jquery.min.js"></script>
<script src="__ROOT__/static/js/bootstrap.min.js"></script> 
</head>

<body>
    <div class="container">
        <h1 style="text-align: center">{$li.title}</h1>   
        <h3>一、工作完成情况</h3>
        <div class="col-sm-12">{$li.jinzhan|htmlspecialchars_decode}</div>
        <br>
        <h3>二、下阶段工作内容</h3>
        <div class="col-sm-12">{$li.down|htmlspecialchars_decode}</div>
        <br>
        <h3>附件：<eq name="li.url">无<else/><a href="__ROOT__/Home/Index/download/url/{$li.url|base64_encode}/name/{$li.title|base64_encode}">附件下载</a></eq></h3>
        <h3>三、审核状态</h3>
        
        <div class="col-sm-12"><switch name="li.audit" ><case value="0">审核中</case><case value="1">已通过</case><case value="2">没通过</case></switch></div>
        <h3>上传时间：{$li.t}</h3>
    </div> 
    <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">立即评阅</h3>
            </div>
            <div class="panel-body">
                <form role="form" action="{:U('/Teacher/Week/Opinion/')}" method="post"  class="form-horizontal" role="form" enctype="multipart/form-data">
                    <input type="hidden" value="{$li.bianhao}" name='bianhao'>
                    <input type="hidden" value="{$li.stu_number}" name='stu_number'>
                  <div style="clear:both;width: 100%;">
                    <div class="shjg">
                      <label class="red ">
                       审核结果：
                      </label>
                       <select name="audit" id="">
                           <option selected = "selected"  value="1">通过</option>
                           <option value="2">未通过</option>
                       </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="name">评语【<span class="red">可以为空</span>】</label>
                    <textarea class="form-control" rows="10" id="editor" name='opinion'></textarea>
                  </div>
                    <div class="form-group">
                    <label  for="lastname" class="col-sm-2 control-label ">附件【可选】</label>
                    <div class="col-sm-4"><input type="file" name="file"></div>
                  </div>
                  <div style="width: 5rem;margin:0px auto;">
                  <input type="submit" id="fat-btn" class="btn btn-success" value="提交" >
                  </div>
                </form>
            </div>
        </div>
    </div>    
</body>
</html>