<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>中期检查</title>
	<style>
		hr{height: 5px;background-color: #e5e5e5;}
		.haung{min-height: 100px;min-width: 900px;background-color: #e5e5e5;
			padding:20px 40px 20px 40px;}
	</style>
</head>
<body style="background-color: #e5e5e5">
	<div style="width: 99%;height: 700px;border:1px solid #e5e5e5">
		<h1 style="text-align: center;">指导老师评语</h1>
		<div class="haung">
			{$vo.content1|htmlspecialchars_decode}
		</div>
		
		<div class="haung">
			
		</div>
	</div>	
</body>
</html>