<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>审核课题-详细</title>
    <link rel="stylesheet" href="__ROOT__/static/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="__ROOT__/static/css/nav.css">
    <link rel="stylesheet" href="__ROOT__/static/css/7.2.style.css">
    <script src="__ROOT__/static/js/jquery.min.js"></script>
    <script src="__ROOT__/static/js/bootstrap.min.js"></script>
</head>
<body>
<div class="row">
<div class="col-xs-12 col-sm-1" ></div>
<div class="col-xs-12 col-sm-10" >
    <h2>大学生毕业设计课题申请表</h2>  
    <table border="1"  class="table panel-info" >  
        <tbody> 
            <tr>  
                <td  class="col-sm-2" align="center">课题名称</td>  
                <td class="col-sm-10">{$topic.name}</td>  
            </tr>   
            <tr>  
                <td height="40">结合科研</td>  
                <td >{$topic.seientific}</td>
            </tr> 
            <tr>  
                <td height="40">结合生产实践和社会实际</td>  
                <td >{$topic.practice}</td>
            </tr>
            <tr>  
                <td height="40">题目类型</td>  
                <td > {$topic.genre}</td>
            </tr>
            <tr>  
                <td height="65" >主要研究内容及要求</td>
                <td width="470" style="text-align: left">{$topic.content|htmlspecialchars_decode}</td> 
            </tr>  
            <tr>  
                <td height="70" rowspan="1">指导教师</td>
                <td  height="40">{$topic.tea_name}（{$topic.tea_number}）<br></td>
            </tr>  
            
            <tr>  
                <td height="70" rowspan="1">选课适合的专业</td>
        
                <td   height="40"> 
        <volist name="zhuanye" id="vo">
                    {$vo.dep_name} <br> 
        </volist>   
                </td>
            </tr>
            
            <tr>  
                <td height="70" rowspan="1">学生</td>
        
                <td   height="40"> 
                    <volist name="stu" id="vo">
                                {$vo.name}[{$vo.stu_number}] <br> 
                    </volist>   
                </td>
            </tr>
            <tr>  
                <td height="60">选题模式</td>  
                <td >
                   <switch name="topic.top_type">
                      <case value="1">盲选</case>
                      <case value="2">指定选</case>
                      <case value="3">团队课题</case>
                      <case value="4">外出毕设</case>
                      </switch>
                </td> 
            </tr> 
            <tr>  
                <td height="60">附件</td>  
                <td >
                    <div style="width: 200px;margin: 0 auto;">
                       <empty name="topic.url">无<else/><a href="__ROOT__/{$topic.url}">下载</a></empty>
                    </div>
                </td> 
            </tr>  
         
        </tbody>
    </table>
   </div>
   </div>
</body>
</html>