<!DOCTYPE html>  
<html>  
  
<head>  
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="__ROOT__/static/css/bootstrap.min.css">  
<link rel="stylesheet" href="__ROOT__/static/css/public.style.css"> 
<link rel="stylesheet" href="__ROOT__/static/css/ApplyFor.css"> 
<script src="__ROOT__/static/js/jquery.min.js"></script>
<script src="__ROOT__/static/js/bootstrap.min.js"></script> 
    <title>大学生毕业设计课题申请表</title>  
</head>  
<body>
<h2>大学生毕业设计课题申请表</h1>  
<form action="{:U('Topic/DapplyFor')}" method="post" enctype="multipart/form-data" >
        <table border="1">  
            <tr>  
                <td width="140" height="50" align="center">课题名称</td>  
                <td width="470" colspan="6"><textarea name="name" id="" class="input" rows="3"></textarea></td>  
            </tr> 
            <tr>  
                <td height="40">题目类型</td>  
                <td class="bcolor"  colspan="3"> 
                    <input name="genre"  type="radio" value="论文"  checked/>论文
                </td>
                <td class="bcolor" colspan="3">
                    <input name="genre" class="bcolor"  type="radio" value="设计" />设计
                </td>
            </tr>
            <tr>  
                <td height="40">结合科研</td>  
                <td class="bcolor"  colspan="3"> 
                    <input name="seientific"  type="radio" value="是"  checked/>是
                </td>
                <td class="bcolor" colspan="3">
                    <input name="seientific" class="bcolor"  type="radio" value="否" />否
                </td>
            </tr> 
            <tr>  
                <td height="40">结合生产实践和社会实际</td>  
                <td class="bcolor"  colspan="3"> 
                    <input name="practice"  type="radio" value="是"  checked/>是
                </td>
                <td class="bcolor" colspan="3">
                    <input name="practice" class="bcolor"  type="radio" value="否"  />否
                </td>
            </tr>
            <tr>  
                <td height="65" >主要研究内容及要求（多人合作题目应有明确分工）</td>
                <td width="470" colspan="6"><textarea name="content" id="" class="input2" ></textarea></td> 
            </tr>  
            <tr>  
                <td height="70">课题选择模式</td>
                <td class="bcolor" colspan="6"  height="40">
                    指定学生(<span class="red">只能选择一个学生</span>)
                </td>
            </tr>
            <tr> 
                <td height="40">请选择学生</td>
                <td colspan="6">
                    选择专业：<select name="hao" id="hao" onchange="r('hao')">
                        <option value="">请选择专业</option>
                        <volist name="list" id="vo">
                            <option value="{$vo.dep_id}">{$vo.dep_name}</option>
                        </volist>
                    </select>&nbsp;&nbsp;
                    选择班级：<select id="banji" onchange="stu('banji')">
                        <option value="">请选择班级</option>
                    </select>&nbsp;&nbsp;
                    选择学生：<select name="nunber" id="student">
                        <option value="">请选择学生</option>
                    </select>
                </td>
            </tr>
            <tr>  
                <td height="60">附件</td>  
                <td colspan="6" >
                    <div style="width: 200px;margin: 0 auto;">
                        <input type="file">
                    </div>
                </td> 
            </tr>  
        </table>
          <br>
        <div style="width: 100px;margin: 0 auto;">
            <button type="submit" class="btn btn-primary" >提交</button>
        </div>
        <br><br><br>
</form>
        <div style="width:610px;margin:0 auto;">  
            <p style="float: left;">注：1、以上内容要求申请人填写完整</p>  
            <p style="text-indent:2em;float: left;">2、本表解释权归学校所有</p>  
        </div>  
    
<a href="{:U('/Teacher/Ajax/Zhuanye/dep/1')}">4525875857</a><select id="nation"></select>
</body>  
</html>  
