<!DOCTYPE html>  
<html>  
    <head>  
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="__ROOT__/static/css/bootstrap.min.css">  
        <link rel="stylesheet" href="__ROOT__/static/css/nav.css"> 
        <script src="__ROOT__/static/js/jquery.min.js"></script>
        <script src="__ROOT__/static/js/bootstrap.min.js"></script> 
        <style>.huise{color: #ccc} .langse{color: #5cb85c}</style>
        <title>指导教师审核开题报告和外文翻译</title>
    </head>
    <body>
        <br>

        <table class="table panel-info" >
            <thead>
                <tr class="success">
                    <th>编号</th>
                    <th>学生</th>
                    <th>所属学院</th>
                    <th>所在专业</th>
                    <th>状态</th>
                    <th>操作</th>
                    <th>系主任审核</th>
                    <th>教学院长审核</th>
                    <th>申报课题</th>
                </tr>
            </thead>
            <tbody>	
            <volist name="list" id="vo">
                <tr>
                    <td>{$i}</td>
                    <td>{$vo.stu_name}</td>
                    <td>{$vo.college}</td>   
                    <td>{$vo.major}</td>
                    <td><empty name="vo.shenhe1"><b class="huise">未审核</b><else/><b class="langse">已审核</b></empty></td>
                <td>
                <if condition="($vo.shenhe1 eq 0)">
                    <a href="__ROOT__/Teacher/Waichu/Alter/id/{$vo.id}">立即审核</a>
                <elseif condition="$vo.shenhe2 eq 0"/>
                    <a href="__ROOT__/Teacher/Waichu/Alter/id/{$vo.id}">查看或修改</a>
                <else />
                    <a href="__ROOT__/Teacher/Waichu/Look/id/{$vo.id}">查看</a>
                </if>
                </td>
                <td>
                <switch name="vo.shenhe2">
                <case value="0"><b class="huise">未审核</b></case>
                <case value="1"><b class="langse">通过</b></case>
                <case value="2"><b class="red">未通过</b></case>
                </switch>
                </td>
                <td>
                    <switch name="vo.shenhe3">
                 <case value="0"><b class="huise">未审核</b></case>
                <case value="1"><b class="langse">通过</b></case>
                <case value="2"><b class="red">未通过</b></case>
                </switch>
                </td>
                <td>
                    <if condition="($vo.shenhe3 eq 1)">
                       <empty name="vo.top_id"><a href="__ROOT__/Teacher/Waichu/Topic/id/{$vo.id}/stu/{$vo.stu_number}">立即申报</a><else/>已经申报</empty>
                   <else/>
                       <b class="huise">不能申报</b>
                   </if>
                </td>
                </tr>
            </volist>
        </tbody>

    </table>

</body>
</html>