<!DOCTYPE html>  
<html>  
    <head>  
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="__ROOT__/static/css/bootstrap.min.css">  
        <link rel="stylesheet" href="__ROOT__/static/css/nav.css"> 
        <script src="__ROOT__/static/js/jquery.min.js"></script>
        <script src="__ROOT__/static/js/bootstrap.min.js"></script> 
        <title>教师选择学生</title>
    </head>
    <body>
        <table class="table panel-info" >
            <thead>
                <tr class="success">
                    <th>编号</th>
                    <th>课题名称</th>
                    <th>课题类型</th>
                    <th>选题学生</th>
                    <th>已发布的任务书</th>
                </tr>
            </thead>
            <tbody>
            <volist name="list" id="vo" >
                <tr>
                    <td>{$i}</td>
                    <td class="twidth">
                        <div class="ttext" >{$vo.name}</div>
                    </td>
                    <td>{$vo.genre}</td>
                    <td><span class="red">{$vo.yixuan}个</span></td>
                    <td> <a href="__ROOT__/Teacher/Assignment/Assignment/top/{$vo.top_id}">进入</a><br>已发布<span class="red">（{$vo.count}）</span> </td>

                </tr>
            </volist>

        </tbody>
    </table>
</body>
</html>
