<!DOCTYPE html>  
<html>  
    <head>  
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="__ROOT__/static/css/bootstrap.min.css">  
        <link rel="stylesheet" href="__ROOT__/static/css/nav.css"> 

        <script src="__ROOT__/static/js/bootstrap.min.js"></script>
        <title>修改任务书</title>
        <link rel="stylesheet" type="text/css" href="__ROOT__/static/Redactor/css/style.css" /> 	
        <script type="text/javascript" src="__ROOT__/static/Redactor/lib/jquery-1.7.min.js"></script>	
        <link rel="stylesheet" href="__ROOT__/static/Redactor/redactor/css/redactor.css" />
        <script src="__ROOT__/static/Redactor/redactor/redactor.js"></script>
        <script type="text/javascript">
            $(document).ready(
                    function ()
                    {
                        $('#one').redactor({
                            // fixed: true,
                            lang: "zh_cn",
                            wym: true,
                            air: true,
                        });
                    }
            );
            $(document).ready(
                    function ()
                    {
                        $('#two').redactor({
                            // fixed: true,
                            lang: "zh_cn",
                            wym: true,
                            air: true,
                        });
                    }
            );
            $(document).ready(
                    function ()
                    {
                        $('#three').redactor({
                            // fixed: true,
                            lang: "zh_cn",
                            wym: true,
                            air: true,
                        });
                    }
            );
            $(document).ready(
                    function ()
                    {
                        $('#four').redactor({
                            // fixed: true,
                            lang: "zh_cn",
                            wym: true,
                            air: true,
                        });
                    }
            );
        </script>
        <style>
            textarea{
                height:400px;
            }
        </style>
    </head>
    <body>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">修改任务书</h3>
            </div>
            <form action="{:U('Teacher/Assignment/Assignment2')}" method="POST" enctype="multipart/form-data">
                <div class="panel-body">
                    <input name="stu_number" type="hidden" value="{$stu}" >
                    <h3>一、研究的主要内容</h3>
                    <textarea id="one" name="research" autofocus>{$li.research|htmlspecialchars_decode}</textarea>
                    <h3>二、涉及知识和基本要求(<small>包括学生具备的基本知识、技能、文献查阅、外文翻译、论文撰写等要求</small>)</h3>
                    <textarea id="two" name="basic" autofocus>{$li.basic|htmlspecialchars_decode}</textarea>
                    <h3>三、预期目标</h3>
                    <textarea id="three" name="expect" autofocus>{$li.expect|htmlspecialchars_decode}</textarea>
                    <h3>四、进度安排</h3>
                    <textarea id="four" name="arrange" autofocus>{$li.arrange|htmlspecialchars_decode}</textarea>

                    <h3>我的附件【可选】：<empty name="li.url">无<else /> <a href="__ROOT__{$li.url}">附件下载</a></empty>  </h3>
                    <h3>上传附件【可选】：<input type="file" name="file"> </h3>
                    <h3 style="text-align: center">
                        <input type="submit" value="保存修改" class="btn btn-sm btn-info">
                    </h3>
                </div>

            </form>
        </div>
    </body>

</html>
