<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>题目变更</title>
        <link rel="stylesheet" href="__ROOT__/static/css/bootstrap.min.css">  
        <meta name="viewport" content="width=device-width">
	<link rel="stylesheet" type="text/css" href="__ROOT__/static/Redactor/css/style.css" /> 	
	<script type="text/javascript" src="__ROOT__/static/Redactor/lib/jquery-1.7.min.js"></script>	
	<link rel="stylesheet" href="__ROOT__/static/Redactor/redactor/css/redactor.css" />
	<script src="__ROOT__/static/Redactor/redactor/redactor.js"></script>
	
	<script type="text/javascript">
	$(document).ready(
		function()
		{
			$('#redactor_content').redactor();
                        $('#redactor').redactor();
		}
	);
	</script>
	<style>
		td{
			width: 200px;
			border:1px solid #ddd;
		}
		td:first-child{
			width: 100px;
			text-align: center;
		}
		input{
			width: 100%;
			height: 100%;
			outline: 0;
			border:0;
                        font-size: 20px;
		}
		textarea{
			width: 99%;
			height: 300px;
			outline: 0;
			border:0px;
                         font-size: 15px;
		}
                .alifn{text-align: left;}
	</style>
</head>
<body>
    <form action="__CONTROLLER__/Updata" method="post">
<table class="table">
    <caption><h3 style="text-align:center">毕业设计题目变更审批表</h3></caption>
	<tbody>
		<tr  style="text-align: center;">
			<td>学生姓名</td>
			<td>{$vo.name}</td>
			<td>学号</td>
			<td>{$vo.stu_number}</td>
		</tr>
		<tr style="text-align: center;">
			<td>学院</td>
			<td>{$vo.college_name}</td>
			<td>专业</td>
			<td>{$vo.major_name}</td>
		</tr>
		<tr  style="text-align: center;">
			<td>变更前题目</td>
			<td colspan="3">{$vo.top_name}</td>
		</tr>
		<tr>
			<td>变更后题目</td>
                        <td colspan="3"><input type="text" name="new_name" value="{$vo.new_name}" required placeholder="请输入变更后的题目"> </td>
		</tr>
		<tr>
			<td><br><br><br><br><br><br><br><br>题目变更原因</td>
                        <td colspan="3"><textarea name="cause" id="redactor_content" required>{$vo.cause|htmlspecialchars_decode}</textarea></td>
		</tr>
		<tr>
			<td><br><br><br><br><br><br><br>新题目内容、进度计划及完成任务的保障措施</td>
                        <td colspan="3"><textarea name="plan" id="redactor" required>{$vo.plan|htmlspecialchars_decode}</textarea></td>
		</tr>
		<tr>
			<td>指导老师意见</td>
                        <td colspan="3" class="alifn">{$vo.adviser|htmlspecialchars_decode}</td>
		</tr>
		<tr>
			<td>所在系意见</td>
			<td colspan="3" class="alifn">{$vo.department|htmlspecialchars_decode}</td>
		</tr>
		<tr>
			<td>学院领导意见</td>
			<td colspan="3" class="alifn">{$vo.college|htmlspecialchars_decode}</td>
		</tr>
                <tr>
                    <td colspan="4"><button type="submit" style="width:100px;height: 40px;background-color: #89e4cf;border:0;color:#fff;font-size: 20px;font-weight: 700;">修改</button> </td>
		</tr>
	</tbody>
</table>
</form>
</body>
</html>