<!DOCTYPE html>  
<html>  
<head>  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="__ROOT__/static/css/bootstrap.min.css">  
<link rel="stylesheet" href="__ROOT__/static/css/nav.css"> 
<script src="__ROOT__/static/js/jquery.min.js"></script>
<script src="__ROOT__/static/js/bootstrap.min.js"></script> 
<title>{$gao.title}</title>
</head> 
<body>

   <nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
            <div class="container">
	<div class="navbar-header">
		<a class="navbar-brand" href="__ROOT__/Home/Index/index.html">返回首页</a>
	</div>
</div>
    </div>
</nav>
<div class="container">
    <h1 style="text-align: center">{$gao.title}</h1>
    <h6 style="text-align: center">时间：{$gao.publish}</h6>
    <h3 style="text-align: center"><b>附件：<empty name="gao.url">无<else/><a target="_blank" href="__ROOT__/Home/Index/DowGovern/id/{$gao.id}">附件下载</a></empty></b></h3>
    {$gao.content|htmlspecialchars_decode}
</div>  

</body>

</html>