<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>教学院长-课题发布</title>
        <link rel="stylesheet" href="../">
        <link rel="stylesheet" href="__ROOT__/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="__ROOT__/static/css/nav.css"> 
        <script type="text/javascript" src="__ROOT__/static/js/jquery.min.js"></script>
    </head>
    <body>
        <a style="display: block;text-align: center;font-weight: 900;margin-bottom: 30px;margin-top: 20px;" href="__CONTROLLER__/CreateGroupView">创建评阅小组</a>
        <table class="table panel-info bshadow" >
            <thead>
                <tr class="success">
                    <th>小组名称</th>
                    <th>教师人数</th>
                    <th>添加教师</th>
                    <th>设置教师所带人数</th>
                    <th>针对专业</th>
                    <th>操作</th>
                    <th>删除</th>
                </tr>
            </thead>
            <tbody>
            <volist name="list" id="vo">
                <tr>
                    <td>{$vo.name}</td>
                    <td><a href="__CONTROLLER__/TeacherView/id/{$vo.id}">{$vo.number}人</a></td>
                    <td><a href="__CONTROLLER__/CollegeView/id/{$vo.id}">进入</a></td>
                    <td><a href="__CONTROLLER__/setTeacherNumberView/id/{$vo.id}">进入</a></td>
                    <td>{$vo.specialty}</td>
                    <td><a href="__CONTROLLER__/Onekey/id/{$vo.id}">一键分配</a></td>
                    <td><a href="__CONTROLLER__/del/id/{$vo.id}" onclick="return confirm('要删除“{$vo.name}”小组吗？')">删除</a></td>
                </tr>
            </volist>
        </tbody>
    </table>
</body>
</html>