<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>学生</title>  
        <link rel="stylesheet" href="__ROOT__/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="__ROOT__/static/css/nav.css">
        <script src="__ROOT__/static/js/jquery.min.js"></script>
        <script src="__ROOT__/static/js/bootstrap.min.js"></script>   

    </head>
    <body>
        <br>
        <table class="table panel-info bshadow" >
            <thead>
                <tr class="success">
                    <th>编号</th>
                    <th>课题名称</th>
                    <th>课题类型</th>
                    <th>指导老师</th>
                    <th>本次共选人数</th>
                    <th>有效被选人数</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            <volist name="list" id="vo">
                <tr>
                    <td>{$i}</td>
                    <td class="twidth">
                        <div class="ttext" >
                            <a href="__ROOT__/Home/Topic/Index/top/{$vo.top_id}" title="{$vo.name}">
                                {$vo.name}
                            </a>
                        </div>
                    </td>
                    <td>{$vo.genre}</td>
                    <td><a href="__ROOT__/Home/Teacher/Teacher/tea/{$vo.tea_number}">{$vo.tea_name}</a></td>
                    <td>{$vo.number}</td>
                    <td>{$vo.youxiao}</td>
                    <td><a href="__ROOT__/Student/Topic/Choose/top/{$vo.top_id}/xuan/{$xuan}">选择</a></td>
                </tr>
            </volist>	
        </tbody>

        <tfoot>
            <tr class="active">
                <td colspan="9">
                    {$page}
                </td>
            </tr>
        </tfoot>
    </table>
</body>
</html>